* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {

    background-color: #212529;

    .header-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        .header-logo {
            h4 {
                padding-top: 0.3125rem;
                padding-bottom: 0.3125rem;
                margin-right: 1rem;
                font-size: 1.25rem;
                text-decoration: none;
                white-space: nowrap;
                color: #fff;
            }
        }

        .nav-list {
            display: flex;
            align-items: center;

            .nav-item {
                list-style: none;

                .nav-link {
                    color: rgba(255, 255, 255, 0.55);


                }

            }

        }


    }
}

.main {
    padding-top: 50px;
    padding-bottom: 90px;
    background-color: #212529;

    .container {
        display: flex;
        align-items: center;

        .main-info-item {
            h2 {
                font-size: 48px;
                color: #fff;
                margin: 0px 0px 8px;
            }

            p {
                font-size: 20px;
                color: #ffffff80;
                margin: 0px 0px 24px;

            }

            .main-info-buttons {
                button:nth-child(2) {
                    margin-left: 30px;

                }

            }
        }

    }


}


.features {
    padding-top: 50px;
    padding-bottom: 50px;

    .container {
        display: flex;

        .features-title {
            h3 {
                font-size: 32px;
                font-weight: bold;
            }

            margin-top: 25px;

        }

    }

    .row {
        justify-content: flex-end;

        .features-box {
            width: 400px;
        }
    }
}

.text {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(237, 237, 237);

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .text-info {
            p {
                font-size: 26px;
                color: #131517;
                margin: 0px 0px 24px;
                text-align: center;
            }

        }

        .text-img {
            display: flex;

        }
    }
}

.from-blog {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        p {
            color: #6c757d
        }

        .row {

            .from-blog-item {
                width: 388px;
                padding-bottom: 30px;
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border-radius: 0.25rem;
                box-shadow: 39px 30px 20px -19px rgba(34, 60, 80, 0.42);
                margin-top: 40px;


                .from-blog-title-paragraph {
                    margin-top: 30px;
                    margin-left: 20px;

                    p {
                        line-height: 1.7;
                    }
                }

                .from-blog-bottom-info {
                    display: flex;
                    margin-top: 40px;
                    margin-left: 20px;

                    .from-blog-bottom-data-name {
                        h5 {
                            font-size: 0.875em;
                            font-weight: 700;
                        }
                    }

                }
            }


        }

    }
}


.input {
    padding: 50px 0px 50px;

    .container {




        .content-input {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            background-color: #0d6efd;
            border-radius: 8px;
            padding: 25px 50px;

            .input-info {
                h3 {
                    color: #ffffff;
                    font-size: 30px;
                }

                p {
                    color: #ffffff80;
                    font-size: 18px;
                }
            }


            .form-input {
                margin-top: 20px;

                p {
                    position: relative;
                    bottom: 13px;
                    color: #ffffff80;
                    font-size: 16px;
                }



            }

        }



    }
}